.wib{
    padding: 10rem 0;
    background-color: var(--lightGrayishBlue);
}

.wib-para .para-style{
    width: 40rem;
}

.cards{
    /* width: 20rem; */
}
.card-img img{
    width: 4rem;
}
.card-about>p{
    font-size: 1.2rem;
}


@media(max-width: 576px){
   .wib-para .para-style{
        width: 100%;
    }
}