.articles {
    padding: 10rem 0;
    background-color: var(--veryLightGray);
}

.card {
    border: none !important;
}

.article-subpara {
    color: var(--grayishBlue);
}

.articles-title {
    cursor: pointer;
    /* font-weight: 400; */
}

.articles-title:hover {
    /* font-weight: 700; */
    color: var(--limeGreen);
}

.article-para {
    font-size: 1.1rem;
    color: var(--grayishBlue);
}