.home {
    height: max-content;
    background: url("../../images/bg-intro-mobile.svg") no-repeat center center/cover;
}

.h {
    height: 100%;
    padding-bottom: 4rem;
}

.h-img {
    width: 100%;
}

.container {
    --bs-gutter-x: 0rem !important;
}


@media(min-width: 365px) {
    .h-img {
        width: 75%;
        margin: auto;
    }

    .h-para {
        width: 30rem;
        font-size: 1.3rem;
    }
}

@media(min-width: 576px) {
    .home {
        height: max-content;
        background: url("../../images/bg-intro-desktop.svg") no-repeat right top;
        background-size: 50rem;
        background-position: 35rem -6rem;
    }

    .h {
        padding-bottom: 0;
    }

    .h-img {
        width: 100%;
    }
}

@media(min-width: 768px) {

    .home {
        height: 361px;
        background-size: 80rem;
        background-position: 40rem -15rem;
    }

    .h-img {
        width: 352px;
    }

    .h-para {
        font-size: 1.4rem;
    }
}

@media(min-width: 992px) {
    .home {
        height: 478px;
        background-size: 110rem;
        background-position: 40rem -15rem;
    }

    .h-img {
        width: 472px;
    }
}


@media(min-width: 1200px) {
    .home {
        height: 538px;
        background-size: 130rem;
        background-position: 50rem -20rem;
    }

    .h-img {
        width: 562px;
    }
}

@media(min-width: 1400px) {
    .home {
        height: 650px;
    }

    .h {
        height: 100%;
    }

    .h-img {
        width: 652.5px;
    }

}



/* @media(min-width: 365px) {
    .h-img {
        width: 100%;
        margin: auto;
    }
} */