.footer {
    background-color: var(--darkBlue);
    padding: 5rem 0;
}

.f-content {
    height: 9rem;
    margin-left: auto;
}

.footer-logo {
    height: 100%;
}

.footer-logo>img {
    color: white;
}

.social-media-icon:hover {
    fill: var(--limeGreen);
    cursor: pointer;
}

.elements {
    height: 100%;
}

.elements>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.elements a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

.elements a:hover {
    color: var(--limeGreen);
}

.footer-invite p {
    color: var(--grayishBlue);
    font-size: 1.4rem;
    margin: 0;
}

@media(max-width: 768px) {
    .elements a {
        font-size: 1.4rem;
    }

    .footer-invite p {
        font-size: 1.2rem;
    }
}


@media(max-width: 576px) {
    .f-content {
        height: max-content;
        width: 100%;
    }


    .footer-logo {
        margin-bottom: 3rem;
    }

    .elements li {
        margin-bottom: 1.4rem;
    }

    .socia-media {
        /* margin-top: 2rem; */
    }
}